.active-account{
    width: 35%;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.active_account-title{
    text-align: center;
}
.icon-contruction-active{
    font-size: 30px;
}
.button-active-account{
    width: 60%;
    height: 50px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 0 auto;
    font-weight: 600;
}
.logo-active{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    opacity: 0.38;
    width: 100%;
}